/******** GÉNÉRAUX ********/
#Accueil{
    overflow-x: hidden;
    background-color: #fff;
}
html, body {

      margin: 0;
      padding: 0;
}
#Contenu{
    overflow-x: hidden;
    background-color: #fff;
    padding: 0 0 80px 0;
}
#Apropos{
    background-color: #fff;
    padding: 0 15px 80px 15px;
}
*{

  margin: 0;
  padding: 0;
}
* {

    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
p{
    font-size: 1.2em;
    text-align: justify;
}
h1{
    padding: 50px 0;
}
#Contenu h1{
    padding: 150px 0px 30px 0px;
}
#Apropos h1{
    padding: 200px 0px 30px 0px;
}
h2 {
    padding: 50px 0 30px 0!important;
}
.btn:focus{
	box-shadow:none;
}
a:focus, input:focus, button:focus{
	box-shadow:none;
	outline:none;
}
label  {
    font-size: 1.2em;
}
body{
    min-height: 100vh;
}
div#content{
    min-height: 70vh;
    width: 100%;
}
.container-fluid{
    padding: 0px;
}
/**************** FIN GÉNÉRAUX ****************/


/**************** FOOTER ****************/
footer{
    width: 100%;
    background-color: rgb(47,51,56);
}
div#content_footer{
    min-height: 10vh;
    width: 100%;
}
.logo_rh_blanc{
    width: 216px;
    height: auto;
    padding: 11px 0 0 5px;
}
.img_link{
    padding: 0 11px 30px 11px;
    transition: 0.3s;
}
.img_link:hover{
    opacity: 0.7;
    cursor: pointer;
}
.second_nav .nav-link{
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    padding:11px;
    color: #fff;
    opacity: 0.5;
}
#infolettre{
    margin: 0 11px 11px 11px!important;
    -moz-border-radius: 25px 25px;
    -webkit-border-radius: 25px 25px;
    border-radius: 25px 25px;
}
#btn_infolettre {
    margin: 0 11px 11px 11px;
    -moz-border-radius: 25px 25px;
    -webkit-border-radius: 25px 25px;
    border-radius: 25px 25px;
    background-color: #89dc65;
    border: none;
    color: #fff;
}
#btn_infolettre:hover {
    color: #fff;
    background-color: #85ce63;
}
footer h3{
    font-size: 22px;
    font-family: 'Nunito', sans-serif; 
    color: #fff;
    padding: 11px 11px 0 11px;
}
.row_footer{
    padding: 50px 0 50px 0;
    border-bottom: 1px solid #89dc65; 
}
.footer_section{
    border-left: 1px solid #89dc65;
}
.copyright{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    padding: 11px 0 11px 0;
}
/**************** FIN FOOTER ****************/



/**************** FOOTER RESPONSIVE ****************/
.logo_rh_blanc_responsive{
    width: 130px;
    height: auto;
    padding: 0 0 30px 0;
}
.img_link_responsive{
    width: 70px;
    padding: 0 11px 0 11px;
}
.second_nav_responsive .nav-link{
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    padding:5px;
    color: #89dc65;
}
.nav_footer_responsive{
    padding: 30px 0 30px 0;
}
#btn_infolettre_responsive{
    margin: 20px 11px 30px 11px;
    -moz-border-radius: 25px 25px;
    -webkit-border-radius: 25px 25px;
    border-radius: 25px 25px;
    background-color: #89dc65;
    color: #fff;
}
.form-control{
    margin: 20px 0 0 0 !important;
}
h3.h3_infolettre_responsive{
    font-size: 1.2em; 
    padding: 30px 0 0 0;
}
.footer_section_responsive{
    text-align: center;
    border-bottom: 1px solid #bbc6c3;
}
.footer_section_responsive_reseau_sociaux{
    text-align: center;
    border: none;
}
h3.media_sociaux {
    padding: 30px 0 0 0;
    font-size: 1.2em;
}
/**************** FIN FOOTER RESPONSIVE ****************/


/**************** CAROUSEL SLICK ****************/
.fond_slider .slick-prev:before, .fond_slider .slick-next:before {
    color: #fff!important;
}
.slick-prev:before, .slick-next:before {
    color: #89dc65!important;
}
#Accueil .slider {
    width: 50%;
    margin: 5px auto;
}
.slick-slide {
    margin: 0px 20px;
}
.slick-slide img {
    width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: black;
}
.slick-slide {
    transition: all ease-in-out .3s;
}
.slick-current {
    opacity: 1;
}
.logo_partenaire{
    width: 110px!important;
    margin: 10px;
}
/**************** FIN CAROUSEL SLICK ****************/


@media(max-width:992px){
	.logo_partenaire{
		width: 70px!important;
		margin: 10px;
	}
}

@media(max-width:576px){
	.logo_partenaire{
		width: 50px!important;
	}
}

